
@font-face {
  font-family: 'kongshomjregular';
  font-style: normal;
  font-weight: bold;
  src: url('kongshomj_regular-webfont.woff');
  src: url('kongshomj_regular-webfont.woff2');

    font-weight: normal;
}

